* {
  font-family: 'Orbitron', sans-serif !important;
  font-weight: 500;
  margin: 0;
}

.text {
  padding: 32;
}

.bodyContainer {
  display: flex;
  /* padding: 8px 32px 8px 32px; */
  width: 95%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: auto;
  background-color: rgb(28, 26, 35, 0.9);
}
.formContainer {
  display: flex;
  width: 95%;
  margin-top: 16px;
  align-content: flex-start;
  align-items: center;
  height: 250px;
  background-color: rgb(28, 26, 35, 0.9);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 800px;
  color: white;
}

.headerContainer {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  /* background-image: linear-gradient(to top, #2d094d 0%, #35005b 100%); */
  background-image: radial-gradient(
    circle,
    rgb(29, 8, 55) 0%,
    rgb(15, 20, 49) 99%,
    rgba(88, 2, 89, 0.6) 100%
  );
  min-height: 128px;
  margin: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.7rem;
}

.headerContainer h1 {
  text-shadow: 2px 2px 2px #ffd710, -2px -2px 2px #ffd710, -2px 2px 2px #ffd710,
    2px -2px 2px #ffd710;
  color: rgb(30, 1, 55);
  transition: 0.5s;
}

.headerContainer h1::before {
  color: #10ff2c;
  text-shadow: 0 0 15px #10ff5c;
  transform: scale(0.9);
  transition: 0.5s;
}
.headerContainer h1:hover::before {
  transform: scale(1.1);
  color: #10ff68;
  text-shadow: 0 0 15px #10ff14;
}
.headerContainer h1:hover {
  transform: scale(1.005);
  color: #10ff58;
  text-shadow: 0 0 20px rgb(16, 255, 28);
  transition: 0.2s;
}

/* body {
  text-align: justify;
  padding: 8;
} */

.subTitle {
  align-self: flex-start;
  max-width: 900px;
  padding: 1.2rem 0 1rem 2.4rem;
  font-size: 1.6rem;
  text-align: justify;
  text-shadow: 0px 0px 8px #10ff14;
  transition: 100ms;
}

.element-img {
  max-width: 70%;
  max-height: 70vh;
  margin: 1.1rem auto;
}

.textbox {
  margin: 0 auto;
  max-width: 900px;
  text-align: justify;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  line-height: 28px !important;
  transition: 100ms;
}

@media (min-width: 1024px) {
  .subTitle {
    align-self: center;
    font-size: 2rem;
    transition: 100ms;
  }
  .textbox {
    font-size: 1.1rem !important;
    height: auto;
    line-height: 32px !important;
    transition: 100ms;
  }
}

.char-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slide-btn {
  position: relative;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #10ff2c;
  text-shadow: 0px 0px 8px #10ff14;
  transition: 300ms;
}
.slide-btn:hover {
  color: #10ff2c;
  /* text-shadow: 0px 0px 24px #10ff14; */
  font-size: 1.01rem;
  transition: 300ms;
}

.char-img {
  max-width: 50%;
  max-height: 50vh;
}
